/*:root {*/
/*    --pico-font-size: 100%;
/*}*/
[role="button"] {
    padding: 0.4rem 0.8rem; /* Smaller padding */
    font-size: 0.9em; /* Smaller font size */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between; /* Pushes title and switcher apart */
    align-items: center;
    padding: 0 10px;
    flex-shrink: 0;
}

#page-main-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 1;
}

.container {
    max-width: 2800px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#lesson-content-area {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid var(--pico-muted-border-color);
    padding: 5px;
    box-sizing: border-box;
}

.editor-column {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#rst-input {
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1em;
    border: 1px solid var(--pico-muted-border-color);
    margin-bottom: 0;
    resize: none;
}

#rst-output {
    border: 1px solid var(--pico-muted-border-color);
    flex-grow: 1;
    overflow-y: auto;
    padding: 5px;
    box-sizing: border-box;
}

/* Styles for docutils system messages */
aside.system-message {
    background-color: var(--pico-table-row-stripped-background-color);
    border: 1px solid var(--pico-muted-border-color);
    padding: 10px;
    margin-bottom: 10px;
}

aside.system-message p.system-message-title {
    background-color: var(--pico-secondary-background);
    color: var(--pico-secondary-inverse);
    font-weight: bold;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--pico-muted-border-color);
}

aside.system-message p, aside.system-message pre {
    margin-top: 0;
    margin-bottom: 5px;
}

aside.system-message pre.literal-block {
    background-color: var(--pico-code-background-color);
    padding: 5px;
    border: 1px solid var(--pico-muted-border-color);
    overflow-x: auto;
}

#rst-output-area #output-footer {
    text-align: right;
    padding-top: 10px;
    flex-shrink: 0;
}

#lesson-panel #lesson-footer {
    text-align: left;
    padding-top: 10px;
    flex-shrink: 0;
}

#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pico-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}

.loader-spinner {
    border: 8px solid var(--pico-form-element-background-color);
    border-top: 8px solid var(--pico-primary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

#page-loader p {
    margin-top: 20px;
    font-size: 1.2em;
    color: var(--pico-color);
}

/*theme switcher*/
header svg {
    width: 1rem;
    height: 1rem;
    color: var(--pico-contrast);
}

#theme_switcher {
    vertical-align: super;
}

header .dropdown summary {
    border: none;
    outline: none;
}

/*end theme switcher*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Styles for Split.js gutters */
.gutter {
    background-color: var(--pico-muted-border-color);
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}

/* Nice tables */
td, th {
    border: thin solid var(--pico-muted-border-color) !important;
}

/* Custom Roles*/
.red-text {
    color: red;
}
